.env

# backend
__pycache__
app.egg-info
.coverage
.python-version
.vscode
.mypy_cache
_local_data/
.venv/
*.log
*.log.gz

# frontend
node_modules/
.env.local

# deployment
.vault_pass

# backup
_backup/

# vapid
vapid_private.pem
private_key.txt
public_key.txt
