server {
  listen [::]:80;
  listen 80;
  server_name {{ domain }} www.{{ domain }};

  include snippets/letsencrypt.conf;
  return 301 https://{{ domain }}$request_uri;
}

server {
  listen [::]:443 ssl http2;
  listen 443 ssl http2;
  server_name www.{{ domain }};

  ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain }}/chain.pem;
  include snippets/ssl.conf;
  include snippets/letsencrypt.conf;

  return 301 https://{{ domain }}$request_uri;
}

server {
  listen [::]:433 ssl http2;
  listen 443 ssl http2;
  server_name {{ domain }};

  include snippets/gzip.conf;
  ssl_certificate /etc/letsencrypt/live/{{ domain }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ domain }}/privkey.pem;
  ssl_trusted_certificate /etc/letsencrypt/live/{{ domain }}/chain.pem;
  include snippets/ssl.conf;
  include snippets/letsencrypt.conf;

  location /.well-known/assetlinks.json {
    alias /var/www/{{ domain }}/assetlinks.json;
  }

  root {{ fe_remote_directory }};
  index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  error_log /var/log/nginx/{{ domain }}-error.log;
  access_log /var/log/nginx/{{ domain }}-access.log;
}